

.body{
  font-family: Helvetica;
}

.inputWide{
  width: 40%;
}

.nav-bar{
  background-color: burlywood;
  height: fit-content;
  display: flex;
  flex-direction: row;
}
.nav-hover:hover{
  align-self: flex-start;
  font-size: 120%;
}
.nav-element{
  margin-left: 20px;
  margin-right: 20px;
}

.title-container {
  padding: 20px;
  margin: 10px;
  border-radius: 15px;
  background-color: lightgoldenrodyellow;
}

.contents-container{
  padding: 10px;
  margin: 10px;
  border-radius: 15px;
  background-color: burlywood;
}

.custom-title{
  font-family: Futura;
  font-size: 50px;
}

.list-hover{
  font-size: 120%;
}

.contens-div{
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.contents{
  border-radius: 15px;
  font-size: 20px;
  font-weight: bold;
}
.title-desc{
  font-weight: bold;
  color: goldenrod;
  font-size: 25px;
}

.custom-title {
  color: sandybrown;


}
.picture{
  height: 400px;
  width: 600px;
}




